*{
    margin:0;
    padding:0;
  }
  
  body{
    margin:0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size:17px;
    color:#32CD32;
    line-height:1.6;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    
  }
  
  #showcase{
    background-image:url('../img/cellphone.jpg');
    background-size:cover;
    background-position:center;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;

  }
  
  #showcase h1{
    font-size:50px;
    line-height:1.2;
  }
  
  #showcase p{
    font-size:20px;
  }
  
  #showcase .button{
    font-size:18px;
    text-decoration:none;
    color:#32CD32;
    border:#32CD32 1px solid;
    padding:10px 20px;
    border-radius:10px;
    margin-top:20px;
  }
  
  #showcase .button:hover{
    background:#32CD32;
    color:#fff;
  }
  